<div style="margin-left: 25%; margin-top:15%">

<img src="/imgs/Rad.jpg">

    <br>
	<h1>Radesh Shiwlochan</h1>
	<h2>Software Developer</h2>
	<a href="https://github.com/RadeshShiwlochan">
		<i class="fa fa-github-square fa-2x" aria-hidden="true" ></i>
	</a>
	<a href="https://github.com/RadeshShiwlochan">
		<i class="fa fa-linkedin-square fa-2x" aria-hidden="true" ></i>
    </a>
    <a href="https://www.facebook.com/radesh.shiwlochan">		
		<i class="fa fa-facebook-square fa-2x" aria-hidden="true" ></i>
	</a>
	<a href="https://twitter.com/imrad30">	
		<i class="fa fa-twitter-square fa-2x" aria-hidden="true" ></i>
	</a>
	<a href="#"	
		<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
    </a>
	<ul>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/about-me">About Me</a></li>
		<li><a href="/skills">Skills</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</div>	