<img src="/imgs/Rad.jpg" class="center-content" height="250" width="300">
<h1>
    Radesh Shiwlochan
</h1>
<h3>
    Software Developer
</h3>
<ul>
	<li><a href="/projects">Projects</a></li>
	<li><a href="/about-me">About Me</a></li>
	<li><a href="/skills">Skills</a></li>
	<li><a href="/contact">Contact</a></li>
</ul>