<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/header %>
</head>
<body>
	<div class="wrapper">
	    <div class="menu">
	       <% include ./partials/menu %>
	    </div>
 	    <div class="content">
	        <div class="add-margin">
	        	<button onclick="topFunction()" id="myBtn" title="Go to top">
	        		<i class="fa fa-chevron-up" aria-hidden="true"></i>
	        	</button>
		        <h3>About Me</h3>
		        <p>
		        	My personal goal is to become a highly proficient software developer. I would love to work for a 
		        	company at a position in which I can grow, by continuously learning new tools, technologies and face 
		        	new challenges so that I can improve at my profession. The opportunity to learn from senior 
		        	engineers and developers would be an invaluable experience that can propel my career. 
		        </p>
		         <p>
 	    	    	I believe that to be successful in the computer science field means constant improvement
 	    	    	and self learning to keep up with the ever growing field of technology. Because of this, I 
 	    	    	spend as much time possible, learning from online tutorials and practicing coding problems 
 	    	    	on websites such as hackerrank to improve my coding skills.  
 	    	    </p>	
		        <h3>BackGround</h3>
		        <p>
		        	I graduated with a master's of arts in computer science in May 2017 from the City University of 
		        	Queens College. It was during my last semester as an undergraduate student majoring in Mathematics 
		        	that I found my love for computer science. My first computer science class, introduction to C++, 
		        	was fortunately a requirement for my math degree. Taking this class sparked my love for programming 
		        	because I love applying the logic and analysis skills I gained while majoring in Math. After I 
		        	graduated in May 2015, I was eager to continue my studies in computer science and enrolled in the 
		        	Queens College computer science master program.
		        </p>	
		        <p>
		        	My experience in the field came from two internships where my role was a full stack developer. Even 
		        	though officially I was an intern, my responsibilities in both of these internships were that of a 
		        	full time developer. I was fortunate that I interned for start-up companies where I had to on every 
		        	part of the web application. I quickly had to put what I learned to the test, constantly think on my 
		        	feet to try to problem solve the daily challenges I came across. I am currently learning some new 
		        	things such as Docker and React.js and I am looking for my next opportunity as a full stack developer.
	            </p>
	            <p>
		        	My most recent internship was at a start-up company called SyncIoT, which aims to create an energy 
		        	saving platform to monitor energy consumption. This was a two month internship which started on 
		        	December 4th and ended on February 7th. During this period, I implemented many of the 
		        	key features of the application. Some features include authenticating the user upon creating and 
		        	logging into their accounts, connecting the front-end to the back-end of the application, and 
		        	performing queries to retrieve the data from the database for data analytics purposes. I also helped
		        	with some of the designs and came up with new features that the application could incorporate in it's
		        	functionality. On the front-end of the application I implemented many of the designs, styles and layout
		        	of the views. I added accordions and carousels to make for a more engaging and interactive user-interface.  
		        	The tech stack used for development was Node.js, Express.js, Bootstrap, D3.js, EJS, HTML5, CSS3 and 
		        	MongoDB for the database.     
		        </p>
		        <p>
		        	During the summer of 2016, I interned for a start-up company called PlateRate. PlateRate is a platform
		        	that users can utilize to find restaurants based on their personalized food preferences and dietary 
		        	restrictions. My role at the company was a full stack developer and worked on the company’s web 
		        	application. I worked on many areas but I primarily worked on the back-end of the application. I worked 
		        	on the create and login system, retrieving the user's data from the database, and rendering it on the 
		        	views of the application. I worked with the yelp and Google Maps APIs which the application depended on 
		        	for it's functionality. My biggest accomplishment while working at PlateRate was designing and 
		        	implementing an algorithm that maintains the integrity of the database. The algorithm would prevent 
		        	duplicate users in the database and perform any updates a user makes to their profile data. I also added 
		        	many of the styling and designs on the front-end of the application. I incorporated the use of 
		        	accordions to make the app more interactive and user friendly. The tech stack used by PlateRate for 
		        	development was Node.js, Express.js, JavaScript, MongoDB, Bootstrap, JQuery, HTML5, and CSS3. 
		        </p>
		        <p>
		        	This internship at PlateRate was organized by the New York Code + Design Academy along with Queens 
		        	College to help provide students with the skills necessary to work for tech companies. I was 1 of 25
		        	students to be accepted into the highly competitive program which consisted of a 4 week training 
		        	period in web development and 8 weeks working at a company. It was thanks to the web development 
		        	training that I began my career in web development. During the training period, I learned Node.js,
		        	Express.js, PostgreSQL, AJAX, jQuery, Bootstrap, HTML5 and CSS3. We also built a few projects for
		        	practice and develop our new skills. After completing the training, I was accepted as an intern at
		        	PlateRate.   
		        </p>
	        </div>
	    </div>
	    <div class="footer"></div>
	    </div>    
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	    crossorigin="anonymous">		  	
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="js/up-button.js"></script>
</body>
</html>