<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/header %>
</head>
<body>
	<div class="wrapper">
	    <div class="menu">
	       <% include ./partials/menu %>
	    </div>
 	    <div class="content">
	        <div class="add-margin">
		        <h3>About Me</h3>
		        <br>
		        <p>
		        	My personal goal is to become a highly proficient software developer. I would love to work for a company at a position in which I grow as a software developer, continuously learn new tools, technology and face new challenges so that I can improve at my profession. The opportunity to learn from senior engineers and developers would be an invaluable experience that can propel my career. 
		        </p>
		        <br>	
		        <h3>BackGround</h3>
		        <br>
		        <p>
		        	I graduated with a master of arts in computer science in May 2017 from the City University of Queens College. It was during my last semester as an undergraduate student majoring in Mathematics that I found my love for computer science. My first computer science class, introduction to C++, was fortunately a requirement for my math degree. Taking this class sparked my love for programming because I love applying the logic and analysis skills I gained while majoring in Math. After I graduated in May 2015, I was eager to continue my studies in computer science and enrolled in the Queens College computer science master program.
		        </p>
		        <br>	
		        <p>
		        	My experience in the field has come from two internships where I was a full stack developer. Even though officially I was an intern, my responsibilities in both of these internships were that of a full time developer. I was fortunate that I interned for start-up companies where I had to on every part of the web application. I quickly had to put what I learned to the test, constantly think on my feet to try to problem solve the daily challenges I came across. 
	            </p>
	            <br>
	            <p>
		        	My most recent internship was at a start-up company called SyncIoT, which aim to create an energy saving platform for home owners to use to monitor their energy consumption. The tech tech used for development was Node.js, Express.js, Bootstrap, HTML5, CSS3 and MongoDB for the database. I    
		        </p>
		        <br>
		        <p>
		        	 During the summer of 2016, I also interned for a start-up company called MyMavens. While there, I worked on the company’s main web application utilizing Node.js, MongoDB, and bootstrap to create an app that allows users to find restaurants based on their personalized food preferences. 
		        </p>
		        <br>
		        <p>
		        	My personal goal is to become a highly proficient software developer. I would love to work for a company at a position in which I grow as a software developer, continuously learn new tools, technology and face new challenges so that I can improve at my profession. The opportunity to learn from senior engineers and developers would be an invaluable experience that can propel my career. 
		        </p>
	        </div>
	    </div>
	    <div class="footer"></div>
	    </div>    
    </div>
   <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous">		  	
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
</body>
</html>