<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/header %>
</head>
<body>
	<div class="wrapper">
	    <div class="menu">
	       <% include ./partials/menu %>
	    </div>
 	    <div class="content">
 	    	<button onclick="topFunction()" id="myBtn" title="Go to top">
	        		<i class="fa fa-chevron-up" aria-hidden="true"></i>
	        	</button>
 	    	<div class="add-margin">
 	    	    <h3>Contact Me</h3>
 	        </div>
 	        <div>
 	        	<ul>
 	        		<li class="list-contacts">
 	        			<a href="https://github.com/RadeshShiwlochan">
 	        			    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true" ></i>
 	        		        LinkedIn : I check my LinkedIn every day, so this is probably the best way of contacting me!
 	        		    </a>
 	        		</li><br>
 	        		<li class="list-contacts">
 	        			<a href="https://www.facebook.com/radesh.shiwlochan">
 	        				<i class="fa fa-facebook-square fa-2x" aria-hidden="true" ></i>
 	        			    Facebook : I usually check my Facebook everyday as well.
 	        			</a>
 	        		</li><br>
 	        		<li class="list-contacts">
 	        			<a href="https://twitter.com/imrad30">
 	        				<i class="fa fa-twitter-square fa-2x" aria-hidden="true" ></i>
 	        			    Twitter : I rarely use Twitter so it may be better to use my other two accounts.
 	        		    </a>
 	        		</li><br>
 	        	</ul>
 	        </div>
	    </div>
	    <div class="footer"></div>
	</div> 
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		crossorigin="anonymous">		
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="js/up-button.js"></script>
</body>
</html>