<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/header %>
</head>
<body>
	<div class="wrapper">
	    <div class="menu">
	       <% include ./partials/menu %>
	    </div>
	    <button onclick="topFunction()" id="myBtn" title="Go to top">
	        <i class="fa fa-chevron-up" aria-hidden="true"></i>
	    </button>
 	    <div class="content">
 	    	<div class="add-margin">
 	    		<h3>Welcome to my Website!</h3>
 	    		<p>
	                My name is Radesh Shiwlochan and I am an aspiring software developer. Please feel free
	                to navigate around my website to learn more about me. Visit the About me page to learn 
	                more about my background and goals. You can also visit the Projects page to check out 
	                some of the projects I have created over the years as a web developer and a student. I have 
	                also listed some of my skills that I am proficent in and used, while developing my projects. 	
	            </p>
	            <h3>Summary</h3>
	            <p>
 	    	    	I graduated from the City University of New York, Queens College, with a Master's degree in 
 	    	    	Computer Science and a Bachelor's degree in Mathematics. My experience comes from internships 
 	    	    	as a full stack developer for two start-up companies. Both of these companies used 
 	    	    	similar tech stacks which is Node.js, Express.js, MongoDB for the Database, along with 
 	    	    	HTML5 and Bootstap for styling. Working for start-up companies has given me valuable experience,
 	    	    	where I was hand-ons, in all areas of the application. My experiences while working at these 
 	    	    	companies has given me more than enough preparation for my next role as a software developer. 
 	    	    </p>
	            <h3>Contact Me</h3>
	            <p>
 	    	    	Feel Free to connect or contact me through one of the popular networks by clicking on any of the 
 	    	    	icons below my picture. I use my social media accounts to join various computer science groups 
 	    	    	and they have proven to be good resources for learning new technologies. 
 	    	    </p>
 	    	</div>
	    </div>
	    <div class="footer"></div>
	</div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	crossorigin="anonymous">			
    </script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	    integrity=" sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>  
	<script type="text/javascript" src="js/up-button.js"></script> 
</body>
</html>