<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Radesh Shiwlochan</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="wrapper">
	    <div class="menu">
	        <h3>Menu goes here</h3>
	        <img src="/imgs/Rad.jpg" class="center-content" height="250" width="300">
	        <ul>
	    	    <li>Projects</li>
	    	    <li>About Me</li>
	    	    <li>Skills</li>
	    	    <li>Contact</li>
	        </ul>
	    </div>
 	    <div class="content">
	        <h3>Content goes here</h3>
	    </div>
	    <div class="footer"></div>
	    </div>    
    </div>
</body>
</html>