<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/header %>
</head>
<body>
	<div class="wrapper">
	    <div class="menu">
	       <% include ./partials/menu %>
	    </div>
 	    <div class="content">
 	    	<div class="add-margin">
	        <h3>Projects</h3>
	        <p>
	        My personal projects were developed using Node.js, MongoDB, Bootstrap, HTML5 and CSS3. DayPlanner is one of the projects I created, and is a REST API that allows users to organize and plan their day. The app features traffic and weather information, along with the ability to make notes as reminders. DayPlanner relies on two APIs for its functionality; Google Traffic Layer API for the traffic data and DarkSkies for the weather information. 
	        </p>
	        <p>
	        Another project I developed is PicSnap which is also created using Node.js, MongoDB, Bootstrap, HTML5 and CSS3. The app main functionality is allowing users to upload pictures to their profiles. The app uses Cloudinary, an API that allows for uploading image files where they are stored in the MongoDB database. I am also proficient in C++ and Java and I have done numerous school projects in both of these languages.
	        </p>
	    </div>
	    </div>
	    <div class="footer"></div>
	    </div>    
    </div>
</body>
</html>








 
