<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/header %>
</head>
<body>
	<div class="wrapper">
	    <div class="menu">
	       <% include ./partials/menu %>
	    </div>
	    <button onclick="topFunction()" id="myBtn" title="Go to top">
	        <i class="fa fa-chevron-up" aria-hidden="true"></i>
	    </button>
 	    <div class="content">
 	    	<div class="add-margin">
	        <h3>Projects</h3>
	        <p>
	        I created this website to give details on my background, my passions, projects, and goals. While I could have used WordPress to build this project, I wanted to utilize my skills and create a custom website. This website was built using Node.js, Express.js, JavaScript, Bootstrap, JQuery, CSS Grid, HTML5, EJS and CSS3. My plan is to make this version of my personal website the first iteration and continue to redesign the site. I am currently learning React.js and one of my future projects will be to recreate this website in React.js. The source code of this website can be found <a href="https://github.com/RadeshShiwlochan/portfolio-website" style="text-decoration:underline;">here</a> 	
	        </p><br>
	        <p>
	        I love creating projects based on applications I could see myself using to make my day more efficient. DayPlanner is one of the projects I created, and is a RESTful API that allows users to organize and plan their day. The idea came from having to use multiple apps on my phone to get the information that I need to start my day. The app features traffic and weather information, a calendar, the ability to make notes as reminders. DayPlanner was developed using Node.js, Express.js, Bootstrap, CSS Grid, HTML5 and CSS3. You can view the code for this project <a href="https://github.com/RadeshShiwlochan/Day-Planner" style="text-decoration:underline;">here.</a>
	        </p><br>
	        <p>
	        Another project I developed is PicSnap, which is a web application that is modelled after instagram. The app's main functionality is allowing users to upload pictures to their profiles. The app uses an API called Cloudinary, which allows for uploading of image files, where they are stored in the database. This was one of my first projects using Node.js and Express and as such, I do plan to do some optimizations and clean up to the code. This project was built utilizing Node.js, Express.js, MongoDB, HTML5 and CSS. You can view the code <a href="https://github.com/RadeshShiwlochan/picSnap" style="text-decoration: underline;">here.</a> 
	        </p><br>
	        <p>
	        I am not only proficient in web development but I have also done many project using the Object-Oriented Programming paradigm. Java was a requirement for many of the courses that I took at Queens College. Most notably, when studying for my data structures and algorithms class, most of my projects were completed using Java. You can view the source code for a sorting algorithm, Radix sort <a href="https://github.com/RadeshShiwlochan/RadixSort" style="text-decoration: underline;">here.</a> 	
	        </p><br>
	        <p>
	        Lastly, in addition to using Java for Object-Oriented Programming, I have also used C++ for OOP for numerous school projects. C++ was the first language that I learned and is still my favorite language to program with. It can be a challenge to use at times, but what I love about it, is its versatility and can be used in many industries. In my last semester of school, I took a course in image processing which required for all of the projected to be done in C++. You can view all of projects for this course <a href="https://github.com/RadeshShiwlochan/ImageProcessing" style="text-decoration: underline;">here.</a> 	  
	        </p><br>
	    </div>
	    </div>
	    <div class="footer"></div>
	    </div>    
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		crossorigin="anonymous">		  	
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="js/up-button.js"></script>
</body>
</html>








 
