<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/header %>
</head>
<body>
	<div class="wrapper">
	    <div class="menu">
	       <% include ./partials/menu %>
	    </div>
      <button onclick="topFunction()" id="myBtn" title="Go to top">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </button>
 	    <div class="content">
 	    	<div class="add-margin">
 	    	    <h3>Skills</h3>
            <ul>
              <li class="list-skills">
                Node.js
              </li>
              <li class="list-skills">
                Express.js
              </li>
              <li class="list-skills">
                JavaScript
              </li>
              <li class="list-skills">
                C++ 
              </li>
              <li class="list-skills">
                Java 
              </li>
              <li class="list-skills">
                Python 
              </li>
              <li class="list-skills">
                MongoDB  
              </li>
              <li class="list-skills">
                PostgreSQL
              </li>
              <li class="list-skills">
                Git/Github
              </li>
              <li class="list-skills">
                Docker
              </li>
              <li class="list-skills">
                HTML5
              </li>
              <li class="list-skills">
                CSS3
              </li>
              <li class="list-skills">
                WordPress
              </li>
            </ul>
 	      </div>	    
	    </div>
	    <div class="footer"></div>

	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>   
  <script src="//d3js.org/d3.v3.min.js"></script> 
  <script type="text/javascript" src="js/up-button.js"></script> 
</body>
</html>