<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/header %>
</head>
<body>
	<div class="wrapper">
	    <div class="menu">
	       <% include ./partials/menu %>
	    </div>
      <button onclick="topFunction()" id="myBtn" title="Go to top">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </button>
 	    <div class="content">
 	    	<div class="add-margin">
 	    	    <h3>Skills</h3>
            <div class="skills-wrapper">
              <div style="border:1px solid black">
                <span style="margin-left:10px;margin-top:10px">Node.js</span>
              </div>
              <div style="border:1px solid black">
                Express.js
              </div>
              <div style="border:1px solid black">
                JavaScript
              </div>
              <div style="border:1px solid black">
                C++
              </div>
              <div style="border:1px solid black">
                Java
              </div>
              <div style="border:1px solid black">
                Python
              </div>
              <div style="border:1px solid black">
                MongoDB
              </div>
              <div style="border:1px solid black">
                PostgreSQL
              </div>
              <div style="border:1px solid black">
                Git/GitHub
              </div>
              <div style="border:1px solid black">
                Docker
              </div>
              <div style="border:1px solid black">
                HTML5
              </div>
              <div style="border:1px solid black">
                CSS3
              </div>
              <div style="border:1px solid black">
                WordPress
              </div>
              <div style="border:1px solid black">
                Bootstrap.js
              </div>
            </div>
 	      </div>	    
	    </div>
	    <div class="footer"></div>

	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>   
  <script src="//d3js.org/d3.v3.min.js"></script> 
  <script type="text/javascript" src="js/up-button.js"></script> 
</body>
</html>