@media screen and (max-width: 100px ) {


/*	html, body {
	margin: 0px;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}
    .wrapper {
	    height:100%;
	    display: grid;
        grid-template-rows: 400px 400px;
        grid-template-columns: (12, 1fr )
        grid-template-areas:
            "m m m m m m m m m m m m"
            "c c c c c c c c c c c c";
    }*/

    .menu {
    	grid-row: 1;
    	grid-column: span 12;
        
    }

    .content {
        grid-column: span 12;
     }
}


html, body {
	margin: 0px;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	height:100%;
	display: grid;
    grid-template-rows: auto 40px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    "m m m m c c c c c c c c"
    "f f f f f f f f f f f f";
}

.menu {
    grid-area: m;
    background-color: #047229;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
    background-color: blue;
}

.center-content {
	margin-top: 50px;
	margin-left: auto;
	margin-right:auto;
	display:block;
}

.add-margin {
	margin: 50px;
}

.fa-github-square {
	resize: 100px;
}


.skillsChart div {
	font: 10px sans-serif;
	background-color: #047229 ;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

.bar--positive {
  fill: steelblue;
}

.bar--negative {
  fill: darkorange;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

li {
	list-style: none;
	font-size: 25px;
}

a {
	color:white;
	text-decoration: none;
}

a:hover {
	font-size: 40px;
	color: red;
}

h1 {
	color: white;
	display: inline;
}

h2 {
	color: white;
}

h3 {
	font-family: 'Open Sans', sans-serif;
}



