
html, body {
	margin: 0px;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	height:100%;
	display: grid;
    grid-template-rows: auto 40px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    "m m m m c c c c c c c c"
    "f f f f f f f f f f f f";
}

.menu {
    grid-area: m;
    background-color: #047229;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
    background-color: blue;
}

.center-content {
	margin-top: 50px;
	margin-left: auto;
	margin-right:auto;
	display:block;
}

.add-margin {
	margin: 50px;
}

.fa-github-square {
	resize: 100px;
}

li {
	list-style: none;
	font-size: 25px;
}

a {
	color:white;
	text-decoration: none;
}

a:hover {
	font-size: 40px;
	color: red;
}

h1 {
	color: white;
	display: inline;
}

h2 {
	color: white;
}

h3 {
	font-family: 'Open Sans', sans-serif;
}

